@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

body {
  font-family: "Cabin";
  background-color: #006d77;
}

#tentacles {
  width: 50px;
}

.header {
  display: flex;
  background-color: #83c5be;
  padding: 1%;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
}

.header-text {
  color: #006d77;
}

.stats-container {
  display: flex;
  align-items: center;
}

.stats-card {
  background-color: #edf6f9;
  border-radius: 7px;
  padding: 1%;
  margin: 1%;
  width: 100%;
  text-align: center;
}

.stats-card:hover {
  cursor: pointer;
  box-shadow: 0 0 30px #ffddd2;
}

#num-contributions,
#total-raised,
#num-games {
  font-size: 50px;
}

#welcome-text,
#description-container,
#stats-text,
#games-title,
#games-description {
  color: #edf6f9;
  padding-left: 1%;
}

#games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.top-img {
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 0 10px #edf6f9;
}

.game-img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px #edf6f9;
}

.img {
  width: 1px;
}

.game-card {
  background-color: #edf6f9;
  padding: 1%;
  margin: 1%;
  width: 300px;
  text-align: center;
  border-radius: 7px;
}

.game-card:hover {
  cursor: pointer;
  box-shadow: 0 0 30px #ffddd2;
}

#unfunded-btn:hover,
#funded-btn:hover,
#scroll-btn:hover,
#all-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 30px #ffddd2;
}

.button-container {
  text-align: center;
}

#search-input,
button,
#scroll-btn {
  font-family: "Cabin";
  border: none;
  padding: 1%;
  margin: 1%;
  border-radius: 7px;
}

#scroll-btn {
  position: absolute;
  right: 1%;
}

#search-input {
  width: 250px;
}
